<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!--开启驼峰命名转换-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!--指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean-->
	<typeAliases>
		<package name="cn.hfbin.crud.bean"/>
	</typeAliases>
	<!--这个是放mybatis的插件-->
	<plugins>
		<!--分页插件-->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--分页参数合理化  -->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>
</configuration>

